@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/*=========
 Variables
==========*/
:root {
  --prDesaturatedRed: hsl(0, 36%, 70%);
  --prSoftRed: hsl(0, 93%, 68%);
  --neuGrayishRed: hsl(0, 6%, 24%);
}

/*===========
 Base Rulers
============*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--neuGrayishRed);
}

/*=======
 Layout
========*/
body {
  background-color: white;
  height: 100vh;
  width: 100%;
}

@media (min-width: 700px) {
  body {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: none;
    background-position: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(11%, 155px) minmax(34%, 476px) minmax(15%, 210px) minmax(40%, 560px);
        grid-template-columns: minmax(11%, 155px) minmax(34%, 476px) minmax(15%, 210px) minmax(40%, 560px);
    -ms-grid-rows: minmax(20.125%, 161px) minmax(67.875%, 559px) minmax(12%, 96px);
        grid-template-rows: minmax(20.125%, 161px) minmax(67.875%, 559px) minmax(12%, 96px);
        grid-template-areas: "...  header ... image" "...  main   ... image" "...  footer ... image";
  }
}

header {
  width: 100%;
  height: 10.5%;
  padding: 0 10.5%;
  background-color: white;
  display: -ms-grid;
  display: grid;
  place-items: center start;
  grid-area: header;
}

@media (min-width: 700px) {
  header {
    height: 100%;
    padding: 0;
    background-color: transparent;
  }
}

main {
  width: 100%;
  height: 84.25%;
  background-image: linear-gradient(135deg, white, #fff5f5);
  grid-area: main;
}

@media (min-width: 700px) {
  main {
    background-image: none;
  }
}

.image-desktop {
  display: none;
}

@media (min-width: 700px) {
  .image-desktop {
    display: inline;
    background-image: url(/images/hero-desktop.jpg);
    background-repeat: none;
    background-position: cover;
    grid-area: image;
  }
}

@media (min-width: 1500px) {
  .image-desktop {
    width: 40%;
    max-width: 560px;
    height: 100vh;
    max-height: 800px;
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.hero-img {
  width: inherit;
  height: 37%;
  background-image: url(/images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 700px) {
  .hero-img {
    display: none;
  }
}

.info {
  padding: 0 10.5%;
  height: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 700px) {
  .info {
    height: 100%;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(50%, 271.5px) minmax(28%, 152px) minmax(22%, 120px);
        grid-template-rows: minmax(50%, 271.5px) minmax(28%, 152px) minmax(22%, 120px);
        grid-template-areas: "title" "description" "form";
  }
}

footer {
  width: 100%;
  padding: 0 10.5%;
  height: 5.25%;
  color: var(--prDesaturatedRed);
  font-size: 0.85em;
  position: absolute;
  bottom: 0;
  grid-area: footer;
}

footer a {
  color: var(--neuGrayishRed);
  text-decoration: none;
}

@media (min-width: 700px) {
  footer {
    padding: 0;
    position: relative;
  }
}

/*========
 Elements
=========*/
.title {
  max-width: 20ch;
  font-size: clamp(2.5em, 6vw, 3.5em);
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-top: 15.5%;
  margin-bottom: 8.5%;
  grid-area: title;
}

.title span {
  color: var(--prDesaturatedRed);
  font-weight: 300;
}

.description {
  max-width: 50ch;
  color: var(--prDesaturatedRed);
  line-height: 1.5em;
  font-weight: 600;
  font-size: 0.85em;
  margin-bottom: 8.5%;
  grid-area: description;
}

@media (min-width: 700px) {
  .description {
    margin-top: 10%;
  }
}

@media (min-width: 700px) {
  .title,
  .description {
    text-align: start;
  }
}

.email-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: form;
  max-width: 27em;
}

.email-form input {
  width: 100%;
  padding: 1em 0 1em 1em;
  border-radius: 50px;
  border: solid 2px rgba(206, 151, 151, 0.3);
  color: var(--prDesaturatedRed);
  font-family: 'Josefin Sans', sans-serif;
  background: transparent;
  font-weight: 600;
  font-size: .85em;
}

.email-form input::-webkit-input-placeholder {
  opacity: 0.5;
}

.email-form input:-ms-input-placeholder {
  opacity: 0.5;
}

.email-form input::-ms-input-placeholder {
  opacity: 0.5;
}

.email-form input::placeholder {
  opacity: 0.5;
}

.email-form button {
  width: 4.5em;
  height: 3.5em;
  border: none;
  border-radius: 22.5px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  position: absolute;
  right: 9%;
  -webkit-box-shadow: 0px 5px 20px 0px var(--prDesaturatedRed);
          box-shadow: 0px 5px 20px 0px var(--prDesaturatedRed);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media (min-width: 700px) {
  .email-form button {
    width: 6.5em;
    left: 40%;
  }
}

@media (min-width: 1300px) {
  .email-form button {
    left: 520px;
  }
}

/*====
 States
=====*/
.email-form button:hover,
.email-form button:focus {
  background-image: linear-gradient(135deg, #f8bfbf, #f8bfbf);
}
/*# sourceMappingURL=style.css.map */